<app-navbarlogged></app-navbarlogged>
<div style="flex-direction: row;display: flex;width: 100%;justify-content: flex-end">
  <div style="width: 80%;display: flex;flex-direction: row;">
    <!--SideNav-->
    <div style="width: 15%; margin-top: 5%;margin-bottom: 5%">
      <div style="
 width: 100%;
  height: 100%;
  border-spacing: 10px;
  background-color: white;
border-right: 1px ridge #0099CC;
margin-left: 10%;
">

        <div style="padding: 10%;">



          <a> <h1 [routerLink]="['/app/ucenici/Predmeti']" style="font-family: 'Gilroy Light', sans-serif">Predmeti</h1></a>
          <a><h1 [routerLink]="['/app/ucenici/Zadaca']"style="font-family: 'Gilroy Light', sans-serif">Zadaca</h1></a>
          <a><h1 style="font-family: 'Gilroy Light', sans-serif;color: #0099CC;">Ocjene</h1></a>
        </div>

      </div>
      <div style="position: relative; bottom: 10%;padding: 10%;margin-left:10%">

        <h1 style="font-family: 'Gilroy Light', sans-serif">Postavke</h1>
      </div>
      <!--end of sideNav-->


    </div>
    <div style="width: 55%;margin-top: 5%">
      <div style="width: 100%;display: flex;flex-direction: column;margin-left: 10%;margin-top: 0%">





        <div style="width: 120%;display: flex;flex-direction: row;margin-left: 10%;margin-top: 0%">

          <!--card-->
          <div style="width:40%;margin-left: 2%">
            <mdb-card style="border-radius: 64px;align-items: center;">
              <!--Card image-->
              <!--Card content-->
              <mdb-card-body>

                <!--Title-->
                <mdb-card-title>
                  <h4 align="center" style="font-family: 'Gilroy Light',sans-serif;font-size: 3rem;color: #0099CC">Bosanski</h4>
                </mdb-card-title>

                <mdb-card-text style="align-items: center;align-content: center;justify-content: center">

                  <div style="align-content: center;justify-content: center;display: flex;">
                    <p align="center" class="join-btn">Pogledaj</p>
                  </div>
                </mdb-card-text>

              </mdb-card-body>
            </mdb-card>
          </div>
          <!--card-->
          <div style="width:40%;margin-left: 2%">
            <mdb-card style="border-radius: 64px;align-items: center;">
              <!--Card image-->
              <!--Card content-->
              <mdb-card-body>

                <!--Title-->
                <mdb-card-title>
                  <h4 align="center" style="font-family: 'Gilroy Light',sans-serif;font-size: 3rem;color: #0099CC">Bosanski</h4>
                </mdb-card-title>

                <mdb-card-text style="align-items: center;align-content: center;justify-content: center">

                  <div style="align-content: center;justify-content: center;display: flex;">
                    <p align="center" class="join-btn">Pogledaj</p>
                  </div>
                </mdb-card-text>

              </mdb-card-body>
            </mdb-card>
          </div>
          <!--card-->
          <div style="width:40%;margin-left: 2%">
            <mdb-card style="border-radius: 64px;align-items: center;">
              <!--Card image-->
              <!--Card content-->
              <mdb-card-body>

                <!--Title-->
                <mdb-card-title>
                  <h4 align="center" style="font-family: 'Gilroy Light',sans-serif;font-size: 3rem;color: #0099CC">Bosanski</h4>
                </mdb-card-title>

                <mdb-card-text style="align-items: center;align-content: center;justify-content: center">

                  <div style="align-content: center;justify-content: center;display: flex;">
                    <p align="center" class="join-btn">Pogledaj</p>
                  </div>
                </mdb-card-text>

              </mdb-card-body>
            </mdb-card>
          </div>
        </div>
        <div style="width: 120%;display: flex;flex-direction: row;margin-left: 10%;margin-top: 10%">

          <!--card-->
          <div style="width:40%;margin-left: 2%">
            <mdb-card style="border-radius: 64px;align-items: center;">
              <!--Card image-->
              <!--Card content-->
              <mdb-card-body>

                <!--Title-->
                <mdb-card-title>
                  <h4 align="center" style="font-family: 'Gilroy Light',sans-serif;font-size: 3rem;color: #0099CC">Bosanski</h4>
                </mdb-card-title>

                <mdb-card-text style="align-items: center;align-content: center;justify-content: center">

                  <div style="align-content: center;justify-content: center;display: flex;">
                    <p align="center" class="join-btn">Pogledaj</p>
                  </div>
                </mdb-card-text>

              </mdb-card-body>
            </mdb-card>
          </div>
          <!--card-->
          <div style="width:40%;margin-left: 2%">
            <mdb-card style="border-radius: 64px;align-items: center;">
              <!--Card image-->
              <!--Card content-->
              <mdb-card-body>

                <!--Title-->
                <mdb-card-title>
                  <h4 align="center" style="font-family: 'Gilroy Light',sans-serif;font-size: 3rem;color: #0099CC">Bosanski</h4>
                </mdb-card-title>

                <mdb-card-text style="align-items: center;align-content: center;justify-content: center">

                  <div style="align-content: center;justify-content: center;display: flex;">
                    <p align="center" class="join-btn">Pogledaj</p>
                  </div>
                </mdb-card-text>

              </mdb-card-body>
            </mdb-card>
          </div>
          <!--card-->
          <div style="width:40%;margin-left: 2%">
            <mdb-card style="border-radius: 64px;align-items: center;">
              <!--Card image-->
              <!--Card content-->
              <mdb-card-body>

                <!--Title-->
                <mdb-card-title>
                  <h4 align="center" style="font-family: 'Gilroy Light',sans-serif;font-size: 3rem;color: #0099CC">Bosanski</h4>
                </mdb-card-title>

                <mdb-card-text style="align-items: center;align-content: center;justify-content: center">

                  <div style="align-content: center;justify-content: center;display: flex;">
                    <p align="center" class="join-btn">Pogledaj</p>
                  </div>
                </mdb-card-text>

              </mdb-card-body>
            </mdb-card>
          </div>
        </div>


      </div>


    </div>
  </div>

  <div style="width:20%" align="right">
    <img src="../../../assets/s_desna.png" style="width: 100%;">
  </div>
</div>
