<app-navbarlogged></app-navbarlogged>
<div style="flex-direction: row;display: flex;width: 100%;">
  <div style="width: 70%;padding: 5%;display: flex;flex-direction: row">

    <div class="modul">

      <h2 style="color: gray;font-family: 'Gilroy Light',sans-serif">Zapocni</h2>
      <h2 style="color: gray;font-family: 'Gilroy ExtraBold',sans-serif">ucenje</h2>
      <p style="font-family: 'Gilroy Light', sans-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    </div>

    <div class="modul">
      <h2 style="color: gray;font-family: 'Gilroy Light',sans-serif">Podesi</h2>
      <h2 style="color: gray;font-family: 'Gilroy ExtraBold',sans-serif">skolu</h2>

    </div>

    <div class="modul">
      <h2 style="color: gray;font-family: 'Gilroy Light',sans-serif">Kontrolna</h2>
        <h2 style="color: gray;font-family: 'Gilroy ExtraBold',sans-serif">ploca</h2>

    </div>

  </div>
  <div style="width: 30%">
<img src="../../../assets/sa_desne.png" style="width: 100%">
  </div>
</div>
