<app-navbarlogged></app-navbarlogged>
<div style="flex-direction: row;display: flex;width: 100%;">
  <div style="width: 70%;padding: 5%;display: flex;flex-direction: row">

    <div class="modul">

      <h2 style="color: gray;font-family: 'Gilroy Light',sans-serif;font-size: xx-large">Zapocni</h2>
      <h2 style="color: gray;font-family: 'Gilroy ExtraBold',sans-serif">ucenje</h2>
      <p style="font-family: 'Gilroy Light', sans-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div style="display: flex;flex-direction: column">
        <div style="display: flex;flex-direction: row">

        <a [routerLink]="['/app/prof/Predmeti']" > <p class="join-btn" mdbWavesEffect> Profesor</p></a>
        </div>
        <div style="display: flex;flex-direction: row;margin-top: 20%" >

        <a [routerLink]="['/app/ucenici/Predmeti']" style="width: 100%"> <p class="join-btn" style="margin-top: 20%;" mdbWavesEffect> Ucenik</p></a>
        </div>
      </div>

    </div>

    <div class="modul">
      <h2 style="color: gray;font-family: 'Gilroy Light',sans-serif;font-size: xx-large">Podesi</h2>
      <h2 style="color: gray;font-family: 'Gilroy ExtraBold',sans-serif">skolu</h2>
      <p style="font-family: 'Gilroy Light', sans-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a> <p class="join-btn" mdbWavesEffect> Postavke</p></a>

    </div>

    <div class="modul">
      <h2 style="color: gray;font-family: 'Gilroy Light',sans-serif;font-size: xx-large">Kontrolna</h2>
        <h2 style="color: gray;font-family: 'Gilroy ExtraBold',sans-serif">ploca</h2>
      <p style="font-family: 'Gilroy Light', sans-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a> <p class="join-btn" mdbWavesEffect> Otvori</p></a>
    </div>

  </div>
  <div style="width: 30%">
<img src="../../../assets/sa_desne.png" style="width: 100%">
  </div>
</div>
