<div style="width: 100%;margin: 0 auto;align-content: center;align-items: center;justify-content: center;flex-direction: row;display: flex">
  <div style="width: 50%;padding: 2%;padding-right: 10%;padding-left: 5%;margin-top: 5%">
    <h2 style="color:white;font-family: 'Gilroy Light', sans-serif;font-size: 100px">Registracija</h2>
    <h2 style="color:white;font-family: 'Gilroy Light', sans-serif;font-size: 50px">Registrujte skolu na</h2>
    <h1 style="color: white;font-family: 'Gilroy ExtraBold', sans-serif;font-size: 50px ">FOCUS</h1>
    <!-- inputs-->
    <div style="margin-top: 10%;width: 50%;align-content: center;justify-content: center;">
      <div class="md-form form-sm">
        <input mdbInput type="text" id="form1" class="form-control form-control-sm">
        <label for="form1" class="uns">Naziv skole</label>
      </div>

      <div class="md-form form-sm">
        <input mdbInput type="text" id="form1" class="form-control form-control-sm">
        <label for="form1" class="uns">Adresa Skole</label>
      </div>

      <div class="md-form form-sm">
        <input mdbInput type="text" id="form1" class="form-control form-control-sm">
        <label for="form1" class="uns">E-mail skole</label>
      </div>

      <div class="md-form">
        <input mdbInput type="text" id="form1" class="form-control">
        <label for="form1" class="uns">Lozinka</label>
      </div>
      <!-- Button -->
      <div style="margin-top: 12.5%">
        <p class="log-btn">Potvrdi</p>
      </div>

    </div>
  </div>
  <div style="width: 50%;">
    <img src="../../../assets/skola.png" style="width: 100%">
  </div>

</div>



