<app-navbarlogged></app-navbarlogged>
<div style="flex-direction: row;display: flex;width: 100%;justify-content: flex-end">
<div style="width: 80%;display: flex;flex-direction: row;">
  <!--SideNav-->
  <div style="width: 15%; margin-top: 5%;margin-bottom: 5%">
    <div style="
 width: 100%;
  height: 100%;
  border-spacing: 10px;
  background-color: white;
border-right: 1px ridge #0099CC;
margin-left: 10%;
">

      <div style="padding: 10%;">



        <a><h1 style="color: #0099CC;font-family: 'Gilroy Light', sans-serif" >Predmeti</h1></a>
        <a ><h1 [routerLink]="['/app/prof/Zadaca']" style="font-family: 'Gilroy Light', sans-serif" >Zadaca</h1></a>
        <a><h1 [routerLink]="['/app/prof/Ocjene']"  style="font-family: 'Gilroy Light', sans-serif">Radovi</h1></a>
      </div>

    </div>
    <div style="position: relative; bottom: 10%;padding: 10%;margin-left:10%">

      <h1 style="font-family: 'Gilroy Light', sans-serif">Postavke</h1>
    </div>
<!--end of sideNav-->


  </div>
  <div style="width: 55%;margin-top: 5%">
  <div style="width: 100%;display: flex;flex-direction: row;margin-left: 10%;margin-top: 0%">

  <!--card-->
    <div style="width:40%;margin-left: 2%">
    <mdb-card style="border-radius: 64px;align-items: center">
      <!--Card image-->
      <mdb-card-img src="../../../assets/bhs.png" style="width: 70%;height: auto;margin-top: 5%"></mdb-card-img>
      <!--Card content-->
      <mdb-card-body>

        <!--Title-->
        <mdb-card-title>
          <h4>Bosanski Jezik</h4>
        </mdb-card-title>


      </mdb-card-body>
    </mdb-card>
    </div>
    <!--card-->
    <div style="width:40%;margin-left: 2%">
      <mdb-card style="border-radius: 64px;align-items: center">
        <!--Card image-->
        <mdb-card-img src="../../../assets/bhs.png" style="width: 70%;height: auto;margin-top: 5%"></mdb-card-img>
        <!--Card content-->
        <mdb-card-body>

          <!--Title-->
          <mdb-card-title>
            <h4>Engleski Jezik</h4>
          </mdb-card-title>


        </mdb-card-body>
      </mdb-card>
    </div>
    <!--card-->
    <div style="width:40%;margin-left: 2%">
      <mdb-card style="border-radius: 64px;align-items: center">
        <!--Card image-->
        <mdb-card-img src="../../../assets/bhs.png" style="width: 70%;height: auto;margin-top: 5%"></mdb-card-img>
        <!--Card content-->
        <mdb-card-body>

          <!--Title-->
          <mdb-card-title>
            <h4>Njemacki Jezik</h4>
          </mdb-card-title>


        </mdb-card-body>
      </mdb-card>
    </div>


  </div>
    <div style="width: 100%;display: flex;flex-direction: row;margin-left: 10%;margin-top: 5%">

      <!--card-->
      <div style="width:40%;margin-left: 2%">
        <mdb-card style="border-radius: 20%;align-items: center">
          <!--Card image-->
          <mdb-card-img src="../../../assets/hi.png" style="width: 70%;height: auto;margin-top: 5%"></mdb-card-img>
          <!--Card content-->
          <mdb-card-body>

            <!--Title-->
            <mdb-card-title>
              <h4> Predmet</h4>
            </mdb-card-title>


          </mdb-card-body>
        </mdb-card>
      </div>
      <!--card-->
      <div style="width:40%;margin-left: 2%">
        <mdb-card style="border-radius: 64px;align-items: center">
          <!--Card image-->
          <mdb-card-img src="../../../assets/hi.png" style="width: 70%;height: auto;margin-top: 5%"></mdb-card-img>
          <!--Card content-->
          <mdb-card-body>

            <!--Title-->
            <mdb-card-title>
              <h4>Predmet</h4>
            </mdb-card-title>


          </mdb-card-body>
        </mdb-card>
      </div>
      <!--card-->
      <div style="width:40%;margin-left: 2%">
        <mdb-card style="border-radius: 64px;align-items: center">
          <!--Card image-->
          <mdb-card-img src="../../../assets/hi.png" style="width: 70%;height: auto;margin-top: 5%"></mdb-card-img>
          <!--Card content-->
          <mdb-card-body>

            <!--Title-->
            <mdb-card-title>
              <h4>Predmet</h4>
            </mdb-card-title>


          </mdb-card-body>
        </mdb-card>
      </div>


    </div>

  </div>
</div>
<div style="width:20%" align="right">
  <img src="../../../assets/s_desna.png" style="width: 100%;">
</div>
</div>
